<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.jcup.ekube.commands.category"
            name="EKube">
      </category>
      <command
            categoryId="de.jcup.ekube.commands.category"
            name="Connect"
            id="de.jcup.ekube.commands.connectCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.jcup.ekube.handlers.EKubeReloadKubeConfigurationHandler"
            commandId="de.jcup.ekube.commands.connectCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.jcup.ekube.commands.connectCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
    <!-- 	
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.jcup.ekube.menus.ekubeMenu"
               label="Kubernetes"
               mnemonic="M">
            <command
                  commandId="de.jcup.ekube.commands.connectCommand"
                  id="de.jcup.ekube.menus.connectCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
    <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.jcup.ekube.toolbars.main">
            <command
                  id="de.jcup.ekube.toolbars.connectCommand"
                  commandId="de.jcup.ekube.commands.connectCommand"
                  icon="icons/reload-kube-config.gif"
                  tooltip="Reload kube config file">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
      -->
   
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <!--                          DECORATION                                  -->
   <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
   <extension
         point="org.eclipse.ui.decorators">
     <decorator
            lightweight="true"
            adaptable="true"
            label="Kubernetes decorator"
            class="de.jcup.ekube.explorer.EKubeElementLabelDecorator"
            state="true"
            location="BOTTOM_RIGHT"
            id="de.jcup.ekube.elements.decorator">
            <enablement>
              <objectClass name="de.jcup.ekube.core.model.EKubeElement"/>
            </enablement>
         <description>
           	Decorator for all ekube elements
         </description>
      </decorator>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.jcup.ekube.preferences.EKubePreferencePage"
            name="EKube"
            class="de.jcup.ekube.preferences.EKubePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.ekube.preferences.EKubePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="EKube"
            id="de.jcup.ekube.category">
      </category>
      <view
            id="de.jcup.ekube.views.KubernetesExplorer"
            name="Kubernetes Explorer"
            icon="icons/kubernetes.png"
            class="de.jcup.ekube.explorer.KubernetesExplorer"
            category="de.jcup.ekube.category"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.jcup.ekube.views.KubernetesExplorer"
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
