<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.jcup.ekube.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="de.jcup.ekube.commands.category"
            name="Sample Command"
            id="de.jcup.ekube.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.jcup.ekube.handlers.EKubeConnectionSelectionHandler"
            commandId="de.jcup.ekube.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.jcup.ekube.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.jcup.ekube.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="de.jcup.ekube.commands.sampleCommand"
                  id="de.jcup.ekube.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.jcup.ekube.toolbars.sampleToolbar">
            <command
                  id="de.jcup.ekube.toolbars.sampleCommand"
                  commandId="de.jcup.ekube.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="de.jcup.ekube.preferences.EKubePreferencePage"
            name="EKube Preferences"
            class="de.jcup.ekube.preferences.EKubePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.ekube.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="EKube"
            id="de.jcup.ekube.category">
      </category>
      <view
            id="de.jcup.ekube.views.KubernetesExplorer"
            name="Kubernetes Explorer"
            icon="icons/sample.png"
            class="de.jcup.ekube.explorer.KubernetesExplorer"
            category="de.jcup.ekube.category"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="de.jcup.ekube.views.KubernetesExplorer"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
